<section class="bar background-white">
    <div class="container">
        {{ range $index, $element := sort .Site.Data.software "weight" }}
		{{ if eq (mod $index 3) 0 }}
		<div class="col-md-12">
            <div class="row">
		{{ end }}
		
		<div class="col-md-3">
    <img class="" alt="" height="250" src="{{ .logo | absURL }}">
    </div>
		<div class="col-md-9">
		<a href="{{ .url }}"><h2>{{ $element.title }}</h2></a>
		<h5>{{ $element.author }}</h5>
		<p><em>{{ $element.repository }} </em></p>
		<p>{{ $element.description }}</p>
		</div>

                 <!--       <div class="name-picture">
                            <img class="" alt="" height="100" src="{{ .avatar | absURL }}">
                            
                        </div> -->
                        
                        
                        
                        
                        

 

		{{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.software) 1 )) }}
			</div>
		</div>
		{{ end }}
        {{ end }}
    </div>
</section>
