<figure class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800 my-8 drop-shadow-2xl" style = "background-color: var(--global-member-bg);">
  {%- if project.img -%}
    <a class="w-20 h-25 md:w-60 md:h-auto  mx-auto self-center" href = "{{ project.link}}"> <img class="w-20 h-20 md:w-60 md:h-auto rounded-xl  mx-auto" src="../{{project.img }}" alt="" width="512" height="512"> </a>
  {%- endif -%}
  <div class="pt-6 md:p-8 flex-wrap text-center md:text-left space-y-4">
    <h2 class="text-2xl grow font-bold"> {{ project.title}} </h2> 
    <p class=" font-light"> {{project.description}} </p>
  </div>
</figure>
          