/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

/* Typography */

p, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
  color: var(--global-text-color);
}

p {
  text-indent: 0px;
  margin-bottom: 10px;
}

hr {
  border-top: 1px solid var(--global-divider-color);
}

a {
  color: var(--global-theme-color);
}

a:hover {
  color: var(--global-theme-color);
  text-decoration: underline;
}

a:hover:after :not(.nav-item.dropdown) {
  width: 100%;
}

figure, img {
  max-width: 90vw;
}

blockquote {
  background: var(--global-bg-color);
  border-left: 2px solid var(--global-theme-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.2rem;
}

/* Math */

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

/* Caption */

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Card */

.card {
  background-color: var(--global-card-bg-color);
}

.card img {
  width: 100%;
}

.card .card-title {
  color: var(--global-text-color);
}

.card .card-item {
  width: auto;
  margin-bottom: 10px;
}

.card .card-item .row {
  display: flex;
  align-items: center;
}

/* Citation */
.citation, .citation-number {
  color: var(--global-theme-color);
}

/* Profile */

.profile {
  margin-left: 1rem;
  width: 100%;
}

.profile .address {
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: monospace;
}

.profile .address p {
  display: inline-block;
  margin: 0;
}

@media (min-width: 576px) {
  .profile {
    width: 30%;
  }
  .profile .address p { 
    display: block; 
  }
}

.post-description {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.post-description a {
  color: inherit;
}

.post-description a:hover {
  color: var(--global-theme-color);
  text-decoration: none;
}

/* Navbar customization */

.navbar .dropdown-menu {
  background-color: var(--global-bg-color);
  border: 1px solid var(--global-divider-color);
}

.navbar .dropdown-menu a:not(.active) {
  color: black;
}

.navbar .dropdown-menu .a {
  color: black;
}

.navbar .dropdown-menu a:hover {
  color: var(--global-hover-color);
}

.navbar .dropdown-menu .dropdown-divider {
  border-top: 1px solid var(--global-divider-color) !important;
}

.dropdown-item {
  color: var(--global-text-color);
}

.dropdown-item:hover {
  color: var(--global-hover-color);
  background-color: var(--global-bg-color);
}

.navbar.navbar-light a:hover {
  text-decoration: none;
}

.navbar.navbar-light .navbar-brand {
  color: "var(--global-text-color)";
}

.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
  background-color: inherit;
  font-weight: bolder;
  color: black;
}

figure {
  display: flex !important;
}

.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link:hover {
  color: var(--global-hover-color);
}

.navbar.navbar-light .navbar-brand.social {
  padding-bottom: 0;
  padding-top: 0;
  font-size: 1.7rem;
}

.navbar.navbar-light .navbar-brand.social a i::before {
  color: var(--global-text-color);
  transition-property: all 0.2s ease-in-out;
}

.navbar.navbar-light .navbar-brand.social a:hover i::before {
  color: var(--global-theme-color);
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: var(--global-text-color);
  border-radius: 1px;
  margin-bottom: 4px;
  transition: all 0.2s;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* News */

.news table td {
  font-size: 1rem;
  color: var(--global-text-color);
}

.news table th {
  color: var(--global-text-color);
}

/* Social (bottom) */

.social {
  text-align: center;
}

.social .contact-icons {
  font-size: 4rem;
}

.social .contact-icons a i::before {
  color: var(--global-text-color);
  transition-property: all 0.2s ease-in-out;
}

.social .contact-icons a:hover i::before {
  color: var(--global-theme-color);
}

.social .contact-note {
  font-size: 0.8rem;
}

.navbarcolor {
  color:white;
}

.navbarcolor:hover {
  color:var(--global-theme-color);
}

/* Footer */
footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;
}

footer.fixed-bottom .container {
  color: var(--global-footer-text-color);
  padding-top: 9px;
  padding-bottom: 8px;
}

footer.fixed-bottom a {
  color: var(--global-footer-link-color);
}

footer.fixed-bottom a:hover {
  color: var(--global-theme-color);
  text-decoration: none;
}

i.exp {
  color: var(--global-text-color);
}

i.exp:hover {
  color: var(--global-theme-color);
}

svg {
  stroke: var(--global-text-color);
}

svg.fill { 
  fill: var(--global-text-color);
}

svg:hover {
  stroke: var(--global-theme-color);
}

svg.fill:hover { 
  fill: var(--global-theme-color);
}

fill.svg.hover {
  fill: var(--global-theme-color);
}

table.table a {
  margin: 0;
  color:var(--global-theme-color);
}

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color);
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;
}

/* Blog */

.header-bar {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.header-bar h1 {
  color: var(--global-theme-color);
  font-size: 5rem;
}

.pagination .page-item .page-link {
  color: var(--global-text-color);
}

.pagination .page-item .page-link:hover {
  color: black;
}

.pagination .page-item.active .page-link {
  color: white;
  background-color: var(--global-theme-color);
}

.pagination .page-item.active .page-link:hover {
  background-color: var(--global-theme-color);
}

/* Distill */

.distill a:hover {
  border-bottom-color: var(--global-theme-color);
  text-decoration: none;
}

/* Projects */

.projects a {
  text-decoration: none;
}

.projects a:hover .card-title {
  color: var(--global-theme-color);
}

.projects .card img {
  width: 100%;
}

.projects .card-item {
  width: auto;
  margin-bottom: 10px;
}

.projects .card-item .row {
  display: flex;
  align-items: center;
}

.projects .grid-sizer, .projects .grid-item {
  width: 250px;
  margin-bottom: 10px;
}

.projects h2.category {
  color: var(--global-theme-color);
  border-bottom: 1px solid var(--global-theme-color);
  padding-top: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: right;
}

/* Publications */

.publications {
  margin-top: 2rem;
}

.publications h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.publications h2 {
  margin-bottom: 1rem;
}

.publications h2 span {
  font-size: 1.5rem;
}

.publications h2.year {
  color: var(--global-theme-color);
  border-top: 1px solid var(--global-divider-color);
  padding-top: 1rem;
  margin-top: 2rem;
  margin-bottom: -2rem;
  text-align: right;
}

.publications ol.bibliography {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.publications ol.bibliography li {
  margin-bottom: 1rem;
}

.publications ol.bibliography li .abbr {
  height: 2rem;
  margin-bottom: 0.5rem;
}

.publications ol.bibliography li .abbr abbr {
  display: inline-block;
  background-color: var(--global-theme-color);
  padding-left: 1rem;
  padding-right: 1rem;
}

.publications ol.bibliography li .abbr abbr a {
  color: white;
}

.publications ol.bibliography li .abbr abbr a:hover {
  text-decoration: none;
}

.publications ol.bibliography li .abbr .award {
  color: var(--global-theme-color) !important;
  border: 1px solid var(--global-theme-color);
}

.publications ol.bibliography li .title {
  font-weight: bolder;
}

.publications ol.bibliography li .author a {
  border-bottom: 1px dashed var(--global-theme-color);
}

.publications ol.bibliography li .author a:hover {
  border-bottom-style: solid;
  text-decoration: none;
}

.publications ol.bibliography li .author > em {
  border-bottom: 1px solid;
  font-style: normal;
}

.publications ol.bibliography li .links a.btn {
  color: var(--global-text-color);
  border: 1px solid var(--global-text-color);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.publications ol.bibliography li .links a.btn:hover {
  color: var(--global-theme-color);
  border-color: var(--global-theme-color);
}

.publications ol.bibliography li .secret {
  font-size: 0.875rem;
  max-height: 0px;
  overflow: hidden;
  text-align: justify;
  transition-property: 0.15s ease;
  -moz-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: all 0.15s ease;
}

.publications ol.bibliography li .secret p {
  line-height: 1.4em;
  margin: 10px;
}

.publications ol.bibliography li .secret pre {
  font-size: 1em;
  line-height: 1.4em;
  padding: 10px;
}

.publications ol.bibliography li .secret.open {
  max-height: 100em;
  transition-property: 0.15s ease;
  -moz-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: all 0.15s ease;
}

.publications ol.bibliography li div.abstract.secret {
  border: dashed 1px var(--global-bg-color);
}

.publications ol.bibliography li div.abstract.secret.open {
  border-color: var(--global-text-color);
}

/* Rouge Color Customization */
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;
}

pre pre, pre code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 3px;
  padding: 3px 3px;
}

/* Transitioning Themes */
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 2s !important;
  transition-delay: 0 !important;
  transition-property: linear !important;
}

/* Extra Markdown style (post Customization) */
.post .post-meta {
  color: var(--global-text-color-light);
  font-size: 0.875rem;
  margin-bottom: 0;
}

.post .post-tags {
  color: var(--global-text-color-light);
  font-size: 0.875rem;
  padding-bottom: 1rem;
}

.post .post-tags a {
  color: var(--global-text-color-light);
  text-decoration: none;
}

.post .post-tags a:hover {
  color: var(--global-theme-color);
}

.post .post-content blockquote {
  border-left: 5px solid var(--global-theme-color);
  padding: 8px;
}

.post .post-content h1 {
  font-size: 1.875rem/* 30px */;
  line-height: 2.25rem/* 36px */;
}

.post .post-content h2 {
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
}

.post .post-content h3 {
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
}

.post .post-content img {
  border-radius: 0.75rem/* 12px */;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post .post-content li {
  list-style-type: disc;
}

.post-tags {
  color: var(--global-text-color-light);
  font-size: 0.875rem;
  padding-top: 0.25rem;
}