/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #ffffff;
  --global-code-bg-color: rgba(181, 9, 172, 0.05);
  --global-text-color: #000000;
  --global-text-color-light: #828282;
  --global-theme-color: gray;
  --global-hover-color: gray;
  --global-footer-bg-color: #1C1C1D;
  --global-footer-text-color: #b8b8b8;
  --global-footer-link-color: #ffffff;
  --global-distill-app-color: #828282;
  --global-divider-color: rgba(0,0,0,.1);
  --global-card-bg-color: #ffffff;
  --global-member-bg: #f2f5f8;
  --max-content-width: 800px;


  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #1C1C1D;
  --global-code-bg-color: #2c3237;
  --global-text-color: #b8b8b8;
  --global-text-color-light: #b8b8b8;
  --global-theme-color: gray;
  --global-hover-color: gray;
  --global-footer-bg-color: #b8b8b8;
  --global-footer-text-color: #1C1C1D;
  --global-footer-link-color: #000000;
  --global-distill-app-color: #b8b8b8;
  --global-divider-color: #424246;
  --global-card-bg-color: #212529;
  --global-member-bg: rgb(30 41 59);

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
