/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

:root {
  /* Colors */
  --red-color: #ff3636;
  --red-color-dark: #b71c1c;
  --orange-color: #f29105;
  --blue-color: #0076df;
  --blue-color-dark: #00369f;
  --cyan-color: #2698ba;
  --light-cyan-color: #4fb3d3; /* lighten(#2698BA, 25%) approximation */
  --green-color: #00ab37;
  --green-color-lime: #b7d12a;
  --green-color-dark: #009f06;
  --green-color-light: #ddffdd;
  --green-color-bright: #11d68b;
  --purple-color: #b509ac;
  --light-purple-color: #d754d1; /* lighten(#B509AC, 25%) approximation */
  --pink-color: #f92080;
  --pink-color-light: #ffdddd;
  --yellow-color: #efcc00;

  --grey-color: #828282;
  --grey-color-light: #b8b8b8; /* lighten(#828282, 40%) approximation */
  --grey-color-dark: #1c1c1d;
  --grey-900: #212529;

  --white-color: #ffffff;
  --black-color: #000000;

  /* Theme colors */
  --code-bg-color-light: rgba(181, 9, 172, 0.05); /* rgba(#B509AC, 0.05) */
  --code-bg-color-dark: #2c3237;
}
