---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 Not Found - Vallejos Group">
  <div class="container mt-5 text-center">
    <h1 class="text-6xl font-bold text-gray-800 dark:text-gray-200 page-title">404</h1>
    <p class="text-xl text-gray-600 dark:text-gray-400 mt-4">Page Not Found</p>
    <p class="text-lg text-gray-600 dark:text-gray-400 mt-2">
      The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
    </p>
    <a href="/" class="mt-6 inline-block font-bold py-2 px-4 rounded-lg transition duration-300">
      Go to Homepage
    </a>
  </div>
</Layout>
