---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects - Vallejos Group">
  <div class="projects">
    <h1 class="page-title">Projects</h1>

    <div class="projects-grid">
      <div class="project-card">
        <h3>Predicting emergency admissions in Scotland</h3>
        <p>
          We use nationwide healthcare databases to infer individual-level 
          estimates of risk that can support anticipatory interventions.
          
          <br>
          
          Read more about it <a href="/sparra/"><strong>here</strong></a. 
        </p>
      </div>
      
      
      <div class="project-card">
        <h3>Single-cell RNA-sequencing</h3>
        <p>
          Developing statistical methods for analyzing single-cell RNA-seq data
          to understand cellular heterogeneity.
        </p>
      </div>

      <div class="project-card">
        <h3>Electronic Health Records</h3>
        <p>
          Creating predictive models based on observational data routinely
          collected by health providers.
        </p>
      </div>

      <div class="project-card">
        <h3>Precision Medicine</h3>
        <p>
          Developing computational tools to improve understanding of health and
          disease for precision medicine initiatives.
        </p>
      </div>
    </div>
  </div>
</Layout>
