---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';

const singlecell = await getEntry('projects', 'singlecell');
const { Content } = await singlecell.render();
---
<Layout title={singlecell.data.title} description={singlecell.data.description}>

  <h1 class ="text-3xl font-bold mb-4 page-title">{singlecell.data.title}</h1>

  <Content />
</Layout>
