---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';

const sparra = await getEntry('projects', 'sparra');
const { Content } = await sparra.render();
---
<Layout title={sparra.data.title} description={sparra.data.description}>

  <h1 class ="text-3xl font-bold mb-4 page-title">{sparra.data.title}</h1>

  <Content />
</Layout>
