---
layout: default
---

<!-- about.html -->
      <div class="post">
     

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
              {% include figure.html 
              path=profile_image_path 
              class="img-fluid z-dept-1 rounded"
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}



          <div class="relative rounded-xl overflow-hidden">
            <picture>
              <source srcset="{{site.url}}/assets/img/c.-vallejos-group-1400.webp" type="image/webp">
              <source srcset="{{site.url}}/assets/img/c.-vallejos-group.jpg" type="image/jpeg"> 
              <img src="{{site.url}}/assets/img/c.-vallejos-group-1400.webp" alt="Avatar" class="object-cover  h-auto w-100 rounded-xl" />
            </picture>

            <div class="absolute w-full py-2.5 bottom-0 inset-x-0 border-slate-400 bg-slate-400/40 rounded-b-xl text-center leading-4 backdrop-blur-sm"><h1 class="post-title">
              {% if site.title == "blank" -%}<span class="font-extralight text-2xl">{{ site.group_name}}</span>{%- else -%}{{ site.title }}{%- endif %}
             </h1>
             <p class="desc text-lg">{{ page.subtitle }}</p>
            </div>
          </div>
        

          <br>
  
          <div class = "publications">
            <h1 class = "text-2xl font-extralight">About</h1>
            {{ content }}
          <div>
          

          {% if page.news -%}
          <br>
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
