---
layout: default
---

<div class = "member">

<h1 class="text-3xl grow font-extralight"> Catalina Vallejos </h1>
<br>
<h1 class="text-2xl grow font-extralight"> Short CV </h1>
<br>

<ul class="list-disc">
    <li> [2025+] Co-Director Health Data Research UK Scotland</li>
    <li> [2024+] ELLIS Health Scholar</li>
    <li> [2023+] Reader, MRC Human Genetics Unit (University of Edinburgh) </li>
    <li> [2022-2023] Lecturer, MRC Human Genetics Unit (University of Edinburgh) </li>
    <li> [2018-2022] Chancellor's Fellow, MRC Human Genetics Unit (University of Edinburgh) </li>
    <li> [2018-2024] Fellow, The Alan Turing Institute </li>
    <li> [2017] Group Leader, The Alan Turing Institute - Lloyd's Register Foundation programme on data-centric engineering </li>
    <li> [2016-2018] Research Fellow, The Alan Turing Institute and UCL Department of Statistical Science </li>
    <li> [2014-2016] Postdoctoral Researcher MRC Biostatistics Unit and EMBL European Bioinformatics Institute. Mentors: Sylvia Richardson and John Marioni </li>
    <li> [2010-2014] PhD Student, Department of Statistics, University of Warwick. Supervisor: Mark Steel </li>
    <li> [2009-2010] MSc Student, Department of Statistics, Pontificia Universidad Católica de Chile </li>
    <li> [2004-2008] BSc Student, Department of Statistics, Pontificia Universidad Católica de Chile </li>
</ul>
    
<br><br>

<h1 class="text-2xl grow font-extralight"> Publications </h1>
<br>

See <a href = "https://scholar.google.co.uk/citations?user=lkdrwm0AAAAJ&hl=en"> Google Scholar </a> for an up-to-date list of my publications.

<br><br>

<h1 class="text-2xl grow font-extralight"> Other professional roles and contributions </h1>
<br>
<ul class="list-disc">
    <li>[2024+] Member, Research Culture Group, Institute of Genetics and Cancer, University of Edinburgh </li>
    <li> [2023+] Co-Director, Cross Disciplinary Fellowships (XDF) programme, Institute of Genetics and Cancer, University of Edinburgh </li>
    <li> [2022+] Steering Board, Machine Learning in Computational and Systems Biology ISCB COSI </li>
    <li> [2021-2024] Associate Editor, Bayesian Analysis </li>
    <li> [2021+] Academic Steering Committee, MRC Precision Medicine DTP, UoE and Glasgow </li>
    <li> [2019+] Advisory board, Review Commons </li>
    <li> [2019+] Statistics advisory board, Cell Press </li>
    <li> [2018+] Associate Editor, Statistical Applications in Genetics and Molecular Biology </li>
    <li> [2017-2020] Steering Committee, Royal Statistical Society Statistical Computing Section & Computational Statistics and Machine Learning group </li>
    <li> [2017-2020] Steering Committee, Royal Statistical Society Emerging Applications Section </li>
</ul>

</div>


