---
layout: default
---

<h1 class="text-3xl grow font-extralight"> Catalina Vallejos </h1>
<br>
<h1 class="text-2xl grow font-extralight"> Short CV </h1>
<br>

<ul class="list-disc">
    <li> [2018-] Chancellor’s Fellow and Group Leader, MRC Human Genetics Unit (University of Edinburgh) </li>
    <li> [2018-] Fellow, The Alan Turing Institute </li>
    <li> [2017] Group Leader, The Alan Turing Institute - Lloyd’s Register Foundation programme on data-centric engineering </li>
    <li> [2016-2018] Research Fellow, The Alan Turing Institute and UCL Department of Statistical Science </li>
    <li> [2014-2016] Postdoctoral Researcher MRC Biostatistics Unit and EMBL European Bioinformatics Institute. Mentors: Sylvia Richardson and John Marioni </li>
    <li> [2010-2014] PhD Student, Department of Statistics, University of Warwick. Supervisor: Mark Steel </li>
    <li> [2009-2010] MSc Student, Department of Statistics, Pontificia Universidad Católica de Chile </li>
    <li> [2004-2008] BSc Student, Department of Statistics, Pontificia Universidad Católica de Chile </li>
</ul>

<br><br>
<h1 class="text-2xl grow font-extralight"> Other professional activity </h1>
<br>
<ul class="list-disc">
    <li>[2018+] Associate Editor, Statistical Applications in Genetics and Molecular Biology </li>
    <li>[2017+] Steering Commitee, Royal Statistical Society Statistical Computing Section & Computational Statistics and Machine Learning group </li>
    <li>[2017+] Steering Commitee, Royal Statistical Society Emerging Applications Section </li>
    <li>Society membership: International Society for Bayesian Analysis, Royal Statistical Society </li>
    <li>Reviewer: Bioinformatics, Biometrics, Computational Statistics and Data Analysis, Genome Biology, Statistics and Its Interface, PLoS Computational Biology, Statistical Methods and Applications, Statistical Methods in Medical Research, Statistics and Probability Letters </li>
</ul>